# 多表连接

In [4]:
import sqlite3

db_path = './files/test_join.sqlite'

conn = sqlite3.connect(db_path)
cur = conn.cursor()

In [5]:
# 建 depaetment 表，并插入数据
cur.execute("DROP TABLE IF EXISTS department")
cur.execute("CREATE TABLE department(\
                id INT PRIMARY KEY NOT NULL, \
                dept CHAR(50) NOT NULL, \
                emp_id INT NOT NULL)")
depts = (
        (1, 'IT Builing', 1),
        (2, 'Engineerin', 2),
        (3, 'Finance', 7)
)
cur.executemany("INSERT INTO department VALUES(?, ?, ?)", depts)

In [6]:
# 建 company 表，并插入数据
cur.execute("DROP TABLE IF EXISTS company")
cur.execute("CREATE TABLE company(\
                    id INT PRIMARY KEY NOT NULL, \
                    name CHAR(50) NOT NULL, \
                    age INT NOT NULL, \
                    address CHAR(50) NOT NULL,\
                    salary DOUBLE NOT NULL)")
companies = (
        (1, 'Paul', 32, 'California', 20000.0),
        (2, 'Allen', 25, 'Texas', 15000.0),
        (3, 'Teddy', 23, 'Norway', 20000.0),
        (4, 'Mark', 25, 'Rich-Mond', 65000.0),
        (5, 'David', 27, 'Texas', 85000.0),
        (6, 'Kim', 22, 'South-Hall', 45000.0),
        (7, 'James', 24, 'Houston', 10000.0)
)
cur.executemany("INSERT INTO company VALUES (?, ?, ?, ?, ?)", companies)

In [7]:
conn.commit()

* CROSS JOIN 交叉连接

In [8]:
cur.execute("SELECT emp_id, name, dept FROM company CROSS JOIN department;")
rows = cur.fetchall()
for row in rows:
    print row

(1, u'Paul', u'IT Builing')
(2, u'Paul', u'Engineerin')
(7, u'Paul', u'Finance')
(1, u'Allen', u'IT Builing')
(2, u'Allen', u'Engineerin')
(7, u'Allen', u'Finance')
(1, u'Teddy', u'IT Builing')
(2, u'Teddy', u'Engineerin')
(7, u'Teddy', u'Finance')
(1, u'Mark', u'IT Builing')
(2, u'Mark', u'Engineerin')
(7, u'Mark', u'Finance')
(1, u'David', u'IT Builing')
(2, u'David', u'Engineerin')
(7, u'David', u'Finance')
(1, u'Kim', u'IT Builing')
(2, u'Kim', u'Engineerin')
(7, u'Kim', u'Finance')
(1, u'James', u'IT Builing')
(2, u'James', u'Engineerin')
(7, u'James', u'Finance')

* INNER JOIN 内连接

In [9]:
cur.execute("SELECT emp_id, name, dept FROM company INNER JOIN department \
            ON company.id = department.emp_id;")
rows = cur.fetchall()
for row in rows:
    print row

(1, u'Paul', u'IT Builing')
(2, u'Allen', u'Engineerin')
(7, u'James', u'Finance')

* OUTER JOIN 外连接

In [11]:
# 左连接
cur.execute("SELECT emp_id, name, dept FROM company LEFT OUTER JOIN department \
            ON company.id = department.emp_id;")
rows = cur.fetchall()
for row in rows:
    print row

(1, u'Paul', u'IT Builing')
(2, u'Allen', u'Engineerin')
(None, u'Teddy', None)
(None, u'Mark', None)
(None, u'David', None)
(None, u'Kim', None)
(7, u'James', u'Finance')

In [13]:
# 右连接 （目前不支持）
cur.execute("SELECT emp_id, name, dept FROM company RIGHT OUTER JOIN department \
            ON company.id = department.emp_id;")
rows = cur.fetchall()
for row in rows:
    print row

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

In [15]:
# 右连接，交换两张表
cur.execute("SELECT emp_id, name, dept FROM department LEFT OUTER JOIN company \
            ON company.id = department.emp_id;")
rows = cur.fetchall()
for row in rows:
    print row

(1, u'Paul', u'IT Builing')
(2, u'Allen', u'Engineerin')
(7, u'James', u'Finance')

In [ ]:
sqlite> SELECT EMP_ID, NAME, DEPT FROM COMPANY LEFT OUTER JOIN DEPARTMENT
      ON COMPANY.ID = DEPARTMENT.EMP_ID;